@import url(normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

:root {
  /* Colors */

  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
  --white: hsl(0, 100%, 100%);

  /* Sizes*/
  --s-8: 0.5rem;
  --s-16: 1rem;
  --s-24: 1.5rem;
  --s-32: 2rem;
  --s-40: 2.5rem;
  --s-48: 3rem;
  --s-64: 4rem;
  --s-80: 5rem;

  /* Fonts */
  --manrope: "Manrope", sans-serif;
  --w-medium: 500;
  --w-bold: 700;
}
body {
  font-family: var(--manrope);
  background-color: var(--light-grayish-blue);
}

main {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.card {
  width: 730px;
  height: 280px;
  display: flex;
  background-color: var(--white);
  border-radius: var(--s-16);
}

.share-buttons {
  display: none;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  width: 248px;
  height: 66px;
  border-radius: var(--s-8);
  background-color: var(--very-dark-grayish-blue);
  position: fixed;
  right: 56px;
  top: 255px;
}

.share-buttons::after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  z-index: 1;
  border-style: solid;
  border-color: var(--very-dark-grayish-blue) transparent;
  border-width: 15px 20px 0;
  bottom: -14px;
  left: 50%;
  margin-left: -20px;
}

.share-buttons > p {
  font-size: 10px;
  letter-spacing: 5px;
  color: var(--light-grayish-blue);
  text-transform: uppercase;
}

.social-icon {
  width: 20px;
  height: 20px;
}

.image {
  background: url(./images/drawers.jpg);
  width: 286px;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: var(--s-16) 0 0 var(--s-16);
}

.content {
  box-sizing: border-box;
  width: 444px;
  padding: 40px;
}

.content > h1 {
  font-size: 20px;
  font-weight: var(--w-bold);
  color: var(--very-dark-grayish-blue);
  margin-bottom: var(--s-24);
}

.content > p {
  font-size: 13px;
  color: var(--desaturated-dark-blue);
  margin-bottom: 20px;
  line-height: 20px;
}

.social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.portrait {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.data {
  margin-left: -120px;
  font-size: 13px;
}

.data .name {
  color: var(--very-dark-grayish-blue);
  font-weight: var(--w-bold);
  margin-bottom: var(--s-8);
}

.data .date {
  color: var(--desaturated-dark-blue);
}

.share-btn {
  width: var(--s-32);
  height: var(--s-32);
  background-color: var(--light-grayish-blue);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.share-btn-icon {
  width: var(--s-16);
  height: var(--s-16);
}

.attribution {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  width: 100%;
  text-align: center;
  position: inherit;
  margin-bottom: var(--s-8);
  color: var(--blue);
}

.attribution a {
  text-decoration: none;
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 800px) {
  .card {
    flex-direction: column;
    width: 326px;
    height: 512px;
  }
  .image {
    height: 200px;
    width: auto;
    border-radius: var(--s-16) var(--s-16) 0 0;
    background-size: cover;
  }

  .content {
    width: auto;
    height: 312px;
    padding: 40px var(--s-32);
  }

  .content > h1 {
    margin-bottom: var(--s-16);
  }

  .content > p {
    margin-bottom: var(--s-16);
  }

  .data {
    margin-left: -34px;
  }

  .share-buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    width: 326px;
    height: 64px;
    border-radius: 0 0 var(--s-8) var(--s-8);
    background-color: var(--very-dark-grayish-blue);
    position: fixed;
    right: 24px;
    top: 502px;
  }

  .share-buttons::after {
    display: none;
  }
}
